

@media screen and (max-width:1199px){
    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 20px;
    }
    
    #full_stack {
        padding-bottom: 50px;
    }
}
@media screen and (max-width:991px){
    

}

@media screen and (max-width:767px){
    p{
    font-size: 13px;
    }
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 17px;
    }
    .half-width img{
        margin-top:30px;
    }
    #baby_dev {
        padding-bottom: 59px;
    }
    #full_stack {
        padding-bottom: 20px;
    }
}

@media screen and (max-width:575px){
    .half-width img{
        margin-top:60px;
    }
    #baby_dev {
        padding-bottom: 30px;
    }
}

